---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BookLink from '../../components/BookLink.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const allBooks = await getCollection('book');
  const uniqueTags = [...new Set(allBooks.map((book: any) => book.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const booksFilteredByTag = allBooks.filter((book: any) =>
      book.data.tags?.includes(tag)
    );
    return {
      params: { tag },
      props: { books: booksFilteredByTag },
    };
  });
}

const { tag } = Astro.params;
const { books } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Books with tag <em>{tag}</em></p>

  <ul>
    {
      books.map((book) => (
        <li>
          <BookLink
            url={`/books/${book.id}/`}
            title={book.data.title}
            author={book.data.author}
          />
        </li>
      ))
    }
  </ul>
</BaseLayout>
